@model MemberManagement.Client.Models.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container w3-white w3-margin w3-padding-large activities">
    <div class="w3-container w3-padding  title">
        <h3 class="w3-black">@Model.Topic.Title</h3>
    </div>
    <div style="float:right">
        <i>@Model.Topic.CreatedDate</i>
        <hr />
    </div>
    <div class="content-acti ">
        @for (int i = 0; i < Model.RelatedPosts.Count; i++)
        {
            var post = Model.RelatedPosts[i];
            <div class="row-avti ">
                <a href=""><img src="" alt=""></a>
                <div>@post.Title</div>
                <p class="title-small">
                    Từ trước đến nay, những người con của quê hương xã đã và đang sinh sống, công tác, học tập ở xa luôn đoàn kết, tương trợ giúp đỡ nhau
                    và có tấm lòng vàng hướng về quê hương, gắn bó với cội nguồn của mình bằng những việc làm thiết thực.
                </p>
            </div>
            <div class="clear"></div>
            <hr />
        }
    </div>
</div>

