@{ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

s
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Newspaper.Admin</title>
    <link rel="stylesheet" href="~/css/stylee.css" />
    <link rel="stylesheet" href="/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="regulation">
        <div class="w3-container w3-white w3-margin w3-padding-large introduction">
            <div class="head-tit">
                <i>GIỚI THIỆU</i>
                <hr />
            </div>
            <div class="w3-center title-regu">
                <h3><b>QUY ƯỚC TỔ CHỨC VÀ HOẠT ĐỘNG CỦA HỘI ĐỒNG HƯƠNG</b></h3>
            </div>

            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr class="sub">
                        <td width="450px" valign="top">
                            <div class="sub-first"><b>HỘI ĐỒNG HƯƠNG</b></div>
                            <div><b>Tỉnh Tên Tỉnh tại Hồ Chí Minh</b></div>
                        </td>
                        <td>
                            <div class="sub-first"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></div>
                            <div><b>Độc lập - Tự do - Hạnh phúc</b></div>
                            <br />
                            <div><i>TP Hồ Chí Minh Ngày 12 tháng 6 năm 2010</i> </div>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="content-regulation">
                <div class="sub heading">
                    <div><b>QUY ƯỚC TỔ CHỨC VÀ HOẠT ĐỘNG</b></div>
                    <div><b>HỘI ĐỒNG HƯƠNG TẠI THÀNH PHỐ HỒ CHÍ MINH</b></div>
                </div>
                <p>Ngày 20 tháng 02 năm 1994 Hội đồng hương huyện Vĩnh Lạc nay là huyện Vĩnh Tường được thành lập, đã xây dựng quy chế tổ chức và hoạt động của Hội. Sau 25 năm hoạt động liên tục đã nhiều lần bổ sung, sửa đổi. Ngày 03 tháng 3 năm 2019 Hội tổ chức kỷ niệm 25 năm thành lập và giao cho Ban liên lạc Hội thống nhất xây dựng bổ sung, sửa đổi quy ước chi tiết như sau:</p>
                <div><b>Điều 1: Tên gọi</b></div>
                <div class="w3-center"><b>Hội đồng hương tỉnh tại thành phố Hồ Chí Minh</b></div>
                <div class="w3-center"><i>(Viết tắt: HDH)</i></div>
                <br />
                <div><b>Điều 2: Mục đích ý nghĩa của Hội.</b></div>
                <div>Hội đồng hương huyện Vĩnh Tường tại Hà Nội là một tổ chức quần chúng do những người cùng quê hương con, cháu, dâu, rể hiện đang sinh sống, học tập, công tác và lập nghiệp tại Hà Nội tự nguyện thành lập và nhập hội nhằm:</div>
                <div>- Tạo lập và duy trì tình đoàn kết, mối quan hệ gắn bó lâu dài của Hội viên với nhau góp phần giáo dục tình yêu quê hương đất nước.</div>
                <div>- Có cơ hội trao đổi kinh nghiệm giúp đỡ lẫn nhau trong cuộc sống, trong học tập công tác... chúc mừng sinh nhật tuổi cao niên; chia buồn việc hiếu, thăm hỏi lúc ốm đau, chia sẻ khi khó khăn.v.v...</div>
                <div>- Hoạt động của Hội là cầu nối giữa Hội viên ở Hà Nội với Ban lãnh đạo huyện nhà để nắm bắt tình hình kinh tế, xã hội mà làm những việc có ích cho quê hương Vĩnh Tường.</div>
                <br />
                <div><b>Điều 3: Điều kiện là hội viên:</b></div>
                <div>
                    Người có quê quán huyện Vĩnh Tường, tỉnh Vĩnh Phúc kể cả con, cháu, dâu, rể hiện đang sinh sống cư trú, học tập, công tác lập nghiệp tại Hà Nội tán thành và tuân thủ quy ước tổ chức hoạt động, tích cực tham gia sinh hoạt hưởng ứng các chương trình hoạt động của Hội; Đóng hội phí đầy đủ, điều đặn là được chấp nhận là hội viên của Hội.
                    - Những cá nhân không phải là người quê quán, dâu, rể... huyện Vĩnh Tường có công đóng góp, xây dựng ủng hộ Hội nếu có nguyện vọng sẽ được làm Hội viên danh dự.
                </div>

                <br />
                <div><b>Điều 4: Nghĩa vụ và quyền lợi của Hội viên.</b></div>
                <div><b><i>4.1. Nghĩa vụ</i></b></div>
                <div>- Hội viên có nghĩa vụ tôn trọng và thực hiện đầy đủ nội dung như Điều 3 quy ước của Hội.</div>
                <div>- Đoàn kết nội bộ, tham gia và hỗ trợ nhau trong mọi hoạt động của Hội, tích cực tham gia các hoạt động xây dựng quỹ Hội; Đóng hội phí đầy đủ đúng quy định.</div>
                <div>- Bảo vệ uy tín của Hội và hội viên, tham gia đóng góp ý kiến hay xây dựng Hội phát triển.</div>
                <div>- Nhiệt tình tuyên truyền, mở rộng ảnh hưởng, uy tín của Hội, vận động các cá nhân, tổ chức khác tham gia hưởng ứng các hoạt động của Hội và ủng hộ tinh thần vật chất cho Hội.</div>
                <div><b><i>4.2. Quyền lợi:</i></b></div>
                <div>- Được quyền tham gia gặp mặt Hội đồng hương hằng năm; tham gia các hoạt động theo chương trình nội dung hoạt động của Hội; đóng góp ý kiến và biểu quyết mọi công việc của Hội theo nguyên tắc tập trung dân chủ.</div>
                <div>- Được quyền đề cử, ứng cử vào Ban liên lạc Hội.</div>
                <div>- Được bảo vệ quyền lợi chính đáng của mình trong hoạt động của Hội.</div>
                <div>- Được biểu dương khen thưởng nếu có thành tích xuất sắc đóng góp trong hoạt động của Hội.</div>
                <div>- Được BLL Hội thăm hỏi, mừng thọ, động viên giúp đỡ khi ốm đau, tai nạn...</div>
                <div><u>Cụ thể:</u></div>
                <div>- Mừng thọ ở tuổi: 70, 75, 80, 85, 90, 95... mức tiền 300.000đ (Phải sinh hoạt hội từ 2 năm trở lên)</div>
                <div>- Thăm hỏi động viên ốm đau, tai nạn phải nằm viện hoặc bị bệnh nặng điều trị tại nhà mức thăm: 300.000đ; trong năm không quá một lần (bệnh nan y mức 500.000đ/lần)</div>
                <div>- Hội viên (hoặc vợ chồng) tứ thân phụ mẫu hội viên qua đời mức viếng: 500.000đ/người.</div>
                <div>- Gia đình hội viên có trách nhiệm thông báo cho BLL để tổ chức thực hiện phúng viếng, việc tổ chức đoàn viếng chỉ thực hiện tang gia tại Hồ Chí Minh. Trường hợp tang gia ngoài địa bàn Hà Nội thì đoàn sẽ đến gia đình hội viên tại Hồ Chí Minh.</div>
                <div>- Con đẻ của Hội viên khi đạt giải thưởng cấp Quốc gia từ giải khuyến khích trở lên được Hội khen thưởng tặng quà có mức 500.000đ trở lên tại cuộc gặp mặt hằng năm.</div>

                <br />
                <div><b>Điều 5: Cơ cấu tổ chức của Hội.</b></div>
                <div><b><i>5.1. Ban liên lạc.</i></b></div>
                <div>- BLL do Hội bầu ra. BLL điều hành mọi hoạt động của Hội giữa hai nhiệm kỳ, số lượng BLL do Hội quyết định.</div>
                <div>- Nhiệm kỳ Ban liên lạc là 05 năm. Khi cần thì cho thôi hoặc bổ sung thành viên mới do Hội quyết định trong kỳ gặp mặt hằng năm.</div>
                <div>- Ban liên lạc gồm:</div>
                <ul class="bll">
                    <li>Trưởng ban: Phụ trách chung</li>
                    <li>Phó trưởng ban thường trực: Phụ trách tổ chức, xây dựng phát triển hội viên.</li>
                    <li> Phó trưởng ban phụ trách pháp luật kiểm tra giám sát hoạt động của hội.</li>
                    <li>Phó trưởng ban phụ trách tài chính thông tin tuyên truyền của hội</li>
                    <li>Các thành viên ban liên lạc được phân công phụ trách các chi hội (Hội đồng hương xã thuộc huyện Vĩnh Tường tại Hồ Chí Minh)</li>
                </ul>

                <div><b><i>5.2. Các chi hội.</i></b></div>
                <div>- Hình thức cơ cấu Hội được tổ chức theo các chi hội, liên chi hội từng cấp xã hoặc liên xã.</div>
                <div>- Các thành viên BLL sẽ được phân công theo dõi hoạt động của chi hội và các liên chi hội.</div>
                <div><b><i>5.3. Nhiệm vụ và quyền hạn của Ban liên lạc</i></b></div>
                <div>- Bầu trưởng ban, các phó ban và ban thường trực ban liên lạc Hội.</div>
                <div>- Xây dựng và tổ chức thực hiện kế hoạch chương trình hoạt động của Hội hằng năm và cả nhiệm kỳ của Hội.</div>
                <div>- Báo cáo tổng kết dự toán, quyết toán tài chính để thông qua trước Hội hàng năm.</div>
                <div>- Đề nghị Hội bầu bổ sung thành viên BLL mới, sửa đổi bổ sung quy ước (khi cần thiết).</div>
                <div>- Tổ chức thực hiện các quyết định đã được cuộc họp mặt toàn thể Hội viên thông qua;</div>
                <div>- Sử dụng chung Website để chuyển tải thông tin hình ảnh của Hội đến Hội viên.</div>
                <div>- Vận động Hội viên xây dựng câu lạc bộ doanh nhân, câu lạc bộ khởi nghiệp của Hội.</div>


                <br />
                <div><b>Điều 6: Tổ chức họp mặt Hội đồng hương</b></div>
                <div>- Hằng năm Hội tổ chức họp mặt 01 lần</div>
                <div>- Thời gian vào ngày chủ nhật tuần cuối cùng tháng 01 hoặc tuần đầu tháng 2 âm lịch (Ban liên lạc Hội sẽ thông báo cụ thể).</div>
                <div>Buổi gặp mặt định kỳ hàng năm gồm nội dung chính:</div>
                <div>- Thông qua báo cáo kết quả hoạt động của Hội trong năm.</div>
                <div>- Thảo luận và biểu quyết (nếu cần) nội dung hoạt động của Hội trong (?) tới.</div>
                <div>- Đại diện lãnh đạo quê hương thông báo về tình hình kinh tế xã hội của quê nhà.</div>
                <div>- Tổ chức mừng thọ, khen thưởng....</div>
                <div>- Bầu bổ sung thành viên BLL mới (nếu cần)</div>
                <div>- Sửa đổi, bổ sung quy ước phải được sự đồng ý của 2/3 tổng số hội viên có mặt.</div>

                <br />
                <div><b>Điều 7: Các khoản thu</b></div>
                <div>- Phí hội viên gồm phí gia nhập hội viên và phí sinh hoạt gặp mặt Hội.</div>
                <div>Mức phí được quy định như sau.</div>
                <div>+ Phí gia nhập Hội viên: 200.000đ/người (đóng 1 lần khi nhập hội)</div>
                <div>+ Phí sinh hoạt trong lần gặp mặt: Tối thiểu 200.000đ/người</div>
                <div>(Hội viên từ 80 tuổi trở lên không phải đóng)</div>
                <div>- Các khoản đóng góp do hội viên, các doanh nhân, các tổ chức và nhà hảo tâm ủng hộ.</div>

                <br />
                <div><b>Điều 8: Các khoản chi</b></div>
                <div>- Chi cho các buổi gặp mặt sinh hoạt công tác đối ngoại, các hoạt động khác...</div>
                <div>- Chi thăm hỏi, ốm đau, hiếu theo điểm 2 điều 4 của quy ước này.</div>

                <br />
                <div><b>Điều 9. Quản lý, sử dụng và thông tin tài chính.</b></div>
                <div>- Tài chính của Hội được BLL phân công cho một phó trưởng ban liên lạc quản lý.</div>
                <div>- Phó trưởng ban quản lý tài chính của Hội: Được sử dụng khi có sự nhất trí của trưởng ban liên lạc.</div>
                <div>- Tài chính của Hội khi nhàn rỗi được gửi tiết kiệm tại ngân hàng để tăng nguồn thu cho Hội.</div>
                <div>- Tài chính Hội được công khai tại kỳ họp mặt hằng năm về các khoản thu chi một cách minh bạch cụ thể.</div>

                <br />
                <div><b>Điều 10: Một số hành vi được coi là vi phạm quy ước Hội.</b></div>
                <div><b><i>1. Đối với thành viên Ban liên lạc</i></b></div>
                <div>- Không hoàn thành nhiệm vụ được phân công</div>
                <div>- Bỏ tham gia sinh hoạt BLL hai lần liền mà không có lí do chính đáng</div>
                <div>- Đặt lợi ích cá nhân lên trên lợi ích tập thể.</div>
                <div>- Làm trái với quy ước của Hội làm ảnh hưởng đến uy tín và hoạt động của Hội.</div>
                <div><b><i>2. Đối với hội viên:</i></b></div>
                <div>- Không đóng phí gia nhập Hội</div>
                <div>- Không đóng phí sinh hoạt cho buổi gặp mặt 2 năm liền</div>
                <div>- Không tham gia sinh hoạt hội 03 năm liền mà không có lý do chính đáng.</div>
                <div>- Có hành vi đi ngược lại lợi ích làm tổn hại đến Hội.</div>

                <br />
                <div><b>Điều 11: Các hình thức thưởng phạt.</b></div>
                <div>1. Căn cứ đóng góp của từng hội viên, Ban liên lạc đề xuất các phần thưởng bằng tiền hoặc hiện vật. Mức thưởng do BLL đề xuất cho phù hợp.</div>
                <div>2. Căn cứ mức độ vi phạm của từng hội viên, thành viên sẽ có các hình thức sau:</div>
                <div>- Bãi miễn chức vụ đối với Ban liên lạc.</div>
                <div>- Phê bình trước Ban liên lạc, nhắc nhở trước toàn thể Hội viên.</div>
                <div>- Các hội viên không đóng phí gia nhập Hội; hai năm liền không đóng phí sinh hoạt trong buổi gặp mặt thì sẽ xóa tên trong danh sách.</div>

                <br />
                <div><b>Điều 12: Tổ chức thực hiện</b></div>
                <div>- Tất cả hội viên Hội đồng hương huyện Vĩnh Tường tại Hà Nội phải thực hiện đúng đủ các quy định của Quy ước này</div>
                <div>- Bản quy ước này có 12 điều, có hiệu lực từ ngày ký</div>
            </div>

            <div class="date-write">
                <div class="date"><i>TP. Hồ Chí Minh, Ngày... Tháng... Năm 2010</i></div>
                <div><b>Ban liên lạc hội</b></div>
            </div>
            <div>
                <div class="address"><i>Nơi nhận:</i></div>
                <div>- Các Hội viên</div>
                <div>- Lưu hành Hội ĐH</div>
            </div>



        </div>
    </div>
</body>
</html>
