@model MemberManagement.ViewModels.PostViewModels.PostVM

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid px-4">
    <dl class="row">
        <dd style="text-align:center; font-size: 40px" class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
      
        <dd style="text-align:center" class="col-sm-10">
          Ngày đăng:   @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
      
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
        <a asp-action="Index">Trở về</a>
    </div>
</div>        
      