<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Newspaper.Admin</title>
        <link rel="stylesheet" href="~/css/stylee.css" />
        <link rel="stylesheet" href="/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link rel="stylesheet" href="/sass/style.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="header">
        <ul id="nav">
            <li><a asp-area="" asp-controller="HomeClient" asp-action="Index">Trang chủ</a></li>
            <li><a asp-area="" asp-controller="HomeClient" asp-action="List_Intro">Giới thiệu</a></li>
            <li><a asp-area="" asp-controller="postClient" asp-action="Index">Hoạt động</a></li>
            <li>
                <a href="">
                    Tin tức - Sự kiện
                    <i class="nav-arrow-down ti-angle-down"></i>
                </a>
                <ul class="subnav">
                    <li><a asp-area="" asp-controller="" asp-action="">Tin nổi bật</a></li>
                    <li><a asp-area="" asp-controller="HomeClient" asp-action="introduction">Hợp tác đầu tư</a></li>
                    <li><a asp-area="" asp-controller="HomeClient" asp-action="regulatioj">Kinh tế</a></li>
                    <li><a asp-area="" asp-controller="HomeClient" asp-action="Index">Nhân đạo-Xã hội</a></li>
                </ul>
            </li>
            <li><a asp-area="" asp-controller="HomeClient" asp-action="Index">Đời sống - Du lịch</a></li>
            <li><a asp-area="" asp-controller="HomeClient" asp-action="Index">Văn hóa - Lịch sử</a></li>
            <li><a asp-area="" asp-controller="postClient" asp-action="Test">Diễn đàn</a></li>
            <li><a asp-area="" asp-controller="HomeClient" asp-action="Contact">Liên hệ</a></li>
        </ul>

        <div class="login">
            <a asp-area="" asp-controller="Login" asp-action="Index"><i class=" ti-user login-icon"></i></a>
            <a asp-area="" asp-controller="Login" asp-action="Index"><span>Đăng nhập</span></a>
        </div>
    </div>
    <!--END-NAV-->
    <!--SLLIDE-->
    <div id="slide">
        <div class="image">
            <img src="/Images/img1.jpg" class="d-block w-100" alt="Slider 1">

        </div>
    </div>

    <!--END SLIDER-->
    <div id="content" class="w3-light-grey">
        <div class="w3-row w3-padding w3-border">
            <div class="w3-col l8 s12">
                @RenderBody()
            </div>
            <!--NAV-->
            <div class="w3-col l4 highlight">
                <!-- About Card -->
                <div class="w3-white w3-margin">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Vị trí</h4>


                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15678.890904616!2d106.66003772210733!3d10.755839632100946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1632504656563!5m2!1svi!2s" style="width: 462px; height:260px;border: 0; " allowfullscreen="" loading="lazy"></iframe>
                </div>
                <hr>

                <!--Ds ban liên lạc-->
                <div class="w3-white w3-margin list-contact">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Danh sách ban liên lạc</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li><a href="">BLL Thành phố</a></li>
                        <li><a href="">BLL Huyện 1</a></li>
                        <li><a href="">BLL Huyện 2</a></li>
                        <li><a href="">BLL Huyện 3</a></li>
                        <li><a href="">BLL Huyện 4</a></li>
                        <li><a href="">BLL Huyện 5</a></li>
                        <li><a href="">BLL Huyện 6</a></li>
                        <li><a href="">BLL Huyện 7</a></li>
                        <li><a href="">BLL Huyện 8</a></li>
                    </ul>
                </div>
                <!-- Posts -->
                <div class="w3-white w3-margin">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Bài viết phổ biến</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT55hY0xM_Wh9GPe59bOrVpctiq9jQTerFS3A&usqp=CAU" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Denim</span>
                            <br>
                            <span>Sed mattis nunc</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2YncI2jfwX5zsmQQrM2q3avZMwo-xIoYbiQ&usqp=CAU" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Sweaters</span>
                            <br>
                            <span>Praes tinci sed</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReNgOkZvxt7DauPy4qiPitZt-3cxLM7RSqFQ&usqp=CAU" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Workshop</span>
                            <br>
                            <span>Ultricies congue</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyXgXzJnNvTQ7yBaZzSiLvgYtII6HZOSMQaQ&usqp=CAU" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
                            <span class="w3-large">Trends</span>
                            <br>
                            <span>Lorem ipsum dipsum</span>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Advertising -->
                <div class="w3-white w3-margin">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Quảng cáo</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
                            <span class="w3-display-middle">Your AD Here</span>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Tags -->
                <div class="w3-white w3-margin tags">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Thể loại bài viết</h4>
                    </div>
                    <div class="w3-container w3-white tag">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Hoạt động</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tin tức</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sự kiện</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Đời sống</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Du lịch</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Văn hóa</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Lịch sử</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Từ thiện</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Đặc sản</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Xã hội</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Giáo dục</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Phát triển</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Học bổng</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Kỉ niệm</span>
                        </p>
                    </div>
                </div>
                <hr>

                <!-- Inspiration -->
                <div class="w3-white w3-margin Inspiration">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Hình ảnh</h4>
                    </div>
                    <div class="w3-row-padding w3-white list-image">
                        <div class="w3-col s6 rrow">
                            <p><img src="http://imgs.vietnamnet.vn/Images/vnn/2014/11/15/16/20141115164748-1.jpg"></p>
                            <p><img src="https://sgp1.digitaloceanspaces.com/tz-mag-vn/wp-content/uploads/2019/12/101012124444/bai-bien-dep-nhat-viet-nam-6.jpg"></p>
                        </div>
                        <div class="w3-col s6 rrow">
                            <p><img src="https://vegiagoc.com/Upload/images/hfyfjyvh.png" class="w3-grayscale"></p>
                            <p><img src="https://cdn3.ivivu.com/2016/06/du-lich-kon-tum-ivivu-2.jpg"></p>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="w3-white w3-margin">
                    <div class="w3-container w3-padding w3-black">
                        <h4>Follow Me</h4>
                    </div>
                    <div class="w3-container w3-xlarge w3-padding">
                        <i class="fa fa-facebook-official w3-hover-opacity"></i>
                        <i class="fa fa-instagram w3-hover-opacity"></i>
                        <i class="fa fa-snapchat w3-hover-opacity"></i>
                        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                        <i class="fa fa-twitter w3-hover-opacity"></i>
                        <i class="fa fa-linkedin w3-hover-opacity"></i>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }
</body>
</html>
