
@{
    ViewData["Title"] = "Test";
   Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>

<body>
    <div>
        <div>
            <b>Country: </b>
            @Html.DropDownList("Country", null, "---Select Country----")<br />
        </div>
        <div>
            <b>State: </b>
            <select id="state"></select><br />
        </div>
        <div>
            <b>City: </b>
            <select id="city"></select><br />
        </div>
    </div>
</body>



