@model MemberManagement.ViewModels.AddressViewModels.AddressCreatRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
     <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/JavaScript.js"></script>
</head>
<div class="container-fluid px-4">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Danh sách hộ gia đình</a></li>
        <li class="breadcrumb-item active">Tạo mới hộ gia đình</li>
    </ol>
    <p>
        <a asp-action="Index">Trở về danh sách</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label class="control-label"> Tỉnh thành</label>
                   @Html.DropDownListFor(model => model.Province, new SelectList(Model.ProvinceJsons, "level1_id", "name"), new { @id="Province", @class = "form-control"})
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label class="control-label">Quận huyệnh</label>
                   @Html.DropDownListFor(model => model.District, new SelectList(Model.ProvinceJsons, "name", "name"), new { @id="Province", @class = "form-control" })*@
                  <b>State: </b>
            @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.Districts, "---Select Country----")<br />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ward" class="control-label"></label>
                <input asp-for="Ward" class="form-control" />
                <span asp-validation-for="Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StayingAddress" class="control-label"></label>
                <input asp-for="StayingAddress" class="form-control" />
                <span asp-validation-for="StayingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


