
@{
    ViewData["Title"] = "Contact";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <title>Document</title>
</head>
<body>
    <!-- BEGIN: Contact section -->
    <div id="contact">
        <h2 class="section-heading">LIÊN HỆ</h2>
        <p class="section-sub-heading">Drop a note!</p>
        <div class="row contact-content">
            <div class="col col-half contact-info">
                <p><i class="ti-user"></i>Hội đồng hương</p>
                <p><i class="ti-location-pin"></i>Địa chỉ: Số 111, Quận 5</p>
                <p><i class="ti-mobile"></i>Điện thoại: +00 151515</p>
                <p><i class="ti-email"></i>Email: mail@mail.com</p>

            </div>
            <div class="col col-half contact-form">
                <form action="">
                    <div class="row">
                        <div class="col col-half">
                            <input type="text" name="" required placeholder="Name" id="" class="form-control">
                        </div>
                        <div class="col col-half">
                            <input type="email" name="" required placeholder="Email" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-8">
                        <div class="col col-full">
                            <input type="text" name="" required placeholder="Message" id="" class="form-control">
                        </div>
                    </div>
                    <input class="btn mt-16 pull-right" type="submit" value="SEND">
                </form>
            </div>
        </div>
    </div>

    <!-- END: Contact section -->
</body>
</html>
